<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/posts/new/">new post</a>
   	<ul>
      <% posts.forEach(function(post) { %>
        <li><a href="/posts/<%= post.id %>/"><%= post.title %></a></li>
      <% }); %>
    </ul>
  </body>
  <style>
    .button {
      display:;
      background:none!important;
      border:none; 
      padding:0!important;
      /*border is optional*/
      border-bottom:1px solid #00B7FF;
      color: #00B7FF; 
    }
  </style>
</html>

