<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
   	<form action="/posts" method="post">
   		<fieldset>
	   		<input type="text" placeholder="title" name="title"><br>
	   		<input type="text" placeholder="body" name="body"><br>
	   		<input type="submit">
   		</fieldset>
   	</form>
  </body>
</html>
